.main {
  padding-top: 160px;
}
.hero {
  > .hero__title {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
  }
  > .hero__text {
    font-size: 20px;
    line-height: 40px;
    width: 470px;
  }
  > .hero__btn {
    background: #bdae82;
    &:hover {
      color: white;
    }
  }
}
.btn {
  color: black;
  text-align: center;
  font-size: 20px;
  width: 220px;
  height: 55px;
  line-height: 40px;
}
