.portfolio {
  padding: 100px 40px 0;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 60px;
}
.portfolio__button {
  background-color: transparent;
  color: #bdae82;
  border: 2px solid #bdae82;
  &:hover {
    color: white;
  }
  &.active {
    background: #bdae82;
    color: black;
  }
}
.portfolio__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.portfolio__item {
  width: 450px;
  height: 560px;
}
@media (max-width: 992px) {
  .container {
    padding: 0;
  }

  .portfolio__items {
    width: 100%;
  }
  .portfolio__buttons {
    flex-wrap: wrap;
  }
  .portfolio__button {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .portfolio__button {
    width: 100%;
  }
  .portfolio {
    padding: 0px;
  }
  .portfolio__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
  }
  .portfolio__item {
    padding: 4px 4px;
  }
}
