.price {
  padding: 100px 40px 0;
}

.price__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 43px 0;
  text-align: center;
  border: 3px solid #bdae82;
  width: 450px;
  > p {
    font-family: Merriweather;
    font-weight: bold;
  }

  .price_item-price {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 20px;
    color: #bdae82;
  }
  .price_item-feature {
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    &:nth-child(7) {
      margin-bottom: 40px;
    }
  }
  .price__item-btn {
    background-color: #bdae82;
    &:hover {
      color: white;
    }
  }
}
