.skills {
  padding: 100px 40px 0;
}
.title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  &::before,
  &::after {
    content: "";
    width: 274px;
    display: inline-block;
    height: 2px;
    background-color: #bdae82;
  }
  &::before {
    margin-right: 20px;
  }
  &::after {
    margin-left: 20px;
  }
}
.skills__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 240px;
  padding: 0 20px;
  > img {
    margin-bottom: 60px;
  }

  > .skill__item-text {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
}
