.video {
  padding: 100px 40px 0;
}

.video__player {
  background-image: url(../img/video-player.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1400px;
  height: 705px;
  position: relative;
}
.video__play-button {
  background-image: url(../img/Play_Unvisited.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  position: absolute;
  left: 635px;
  top: 287.5px;
  cursor: pointer;
  &:hover {
    background-image: url(../img/Play_hover.png);
  }
}
