@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Bold.ttf);
  font-weight: bold;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  color: white;
  font-family: "Inter";
  background: #fdfcfb;
  background-color: black;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "_header";
@import "_main";
@import "_skills";
@import "_portfolio";
@import "_video";
@import "_price";
@import "_contact";
@import "_footer";
